.f-cell:hover {
  background-color: #f4f4f4;
}

.first-level-item-input::placeholder {
  font-size: 17px;
}

input.data-editor {
  box-sizing: content-box;
  height: 100%;
}

.data-grid-container .data-grid .cell > input {
  height: 100% !important;
}

td.read-only {
  overflow-x: hidden;
}

td.cell {
  max-width: 140px;
  min-width: 75px;
}
